@font-face {
  font-family: 'Imago Pro';
  src: url('../fonts/ImagoPro-Medium.woff') format('woff'), url('../fonts/ImagoPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Imago Pro Book';
  src: url('../fonts/ImagoPro-Book.woff') format('woff'), url('../fonts/ImagoPro-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Imago Pro';
  src: url('../fonts/ImagoPro-MediumItalic.woff') format('woff'), url('../fonts/ImagoPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Imago Pro Book';
  src: url('../fonts/ImagoPro-BookItalic.woff') format('woff'), url('../fonts/ImagoPro-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
 