footer.probootstrap_section.probootstrap-border-top
    .container
        .row.mb-5
            .col-md-3
                h3.probootstrap_font-18.mb-3 Quick Links
                ul.list-unstyled
                    li
                        a(href='https://free-template.co', target='_blank') Home
                    li
                        a(href='https://free-template.co', target='_blank') About
                    li
                        a(href='https://free-template.co', target='_blank') Services
                    li
                        a(href='https://free-template.co', target='_blank') Contact
            .col-md-3
                h3.probootstrap_font-18.mb-3 Quick Links
                ul.list-unstyled
                    li
                        a(href='https://free-template.co', target='_blank') Home
                    li
                        a(href='https://free-template.co', target='_blank') About
                    li
                        a(href='https://free-template.co', target='_blank') Services
                    li
                        a(href='https://free-template.co', target='_blank') Contact
            .col-md-3
                h3.probootstrap_font-18.mb-3 Quick Links
                ul.list-unstyled
                    li
                        a(href='https://free-template.co', target='_blank') Home
                    li
                        a(href='https://free-template.co', target='_blank') About
                    li
                        a(href='https://free-template.co', target='_blank') Services
                    li
                        a(href='https://free-template.co', target='_blank') Contact
            .col-md-3
                h3.probootstrap_font-18.mb-3 Quick Links
                ul.list-unstyled
                    li
                        a(href='https://free-template.co', target='_blank') Home
                    li
                        a(href='https://free-template.co', target='_blank') About
                    li
                        a(href='https://free-template.co', target='_blank') Services
                    li
                        a(href='https://free-template.co', target='_blank') Contact
        .row.pt-5
            .col-md-12.text-center
                p.probootstrap_font-14
                    | © 2017. All Rights Reserved.
                    br
                    |  Designed & Developed by
                    a(href='https://probootstrap.com/', target='_blank') ProBootstrap
                    small
                        | (Don't remove credit link on this footer. See
                        a(href='https://probootstrap.com/license/') license
                        | )
                p.probootstrap_font-14
                    | Demo Images:
                    a(href='https://unsplash.com/', target='_blank') Unsplash
