.city-section {
  background-color: #f9ebd2;
  padding-bottom: 5px;
}
.city-section-container {
  padding: 0;
}
.rounded-input {
  border-bottom-color: #b3b3b3;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #b3b3b3;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #b3b3b3;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #b3b3b3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
}

.probootstrap-media {
  height: 170px;

  .media-body {
    overflow: hidden;
    padding: 24px;
  }

  .probootstrap-media-image {

    img {
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
}
.customized-a {
  cursor: pointer;
  color: #848d9b !important;
}
.rounded-input {
  padding: 5px 15px;
  width: 250px;
}
.modal-media {
  height: 300px;
}
.modal-with-scroll {
  overflow: auto;
  padding: 10px;
}
@media (max-width: 991.98px) {
  .probootstrap-media {
    height: 300px;
  }
  .probootstrap-media .probootstrap-media-image {
    padding: 14px;
  }
  .media-body {
    font-size: 14px;
  }
}
@media(max-width: 500px) {
  .iphone-5 {
    display: none;
  }
}