.city-section {
  background-color: #fcedd8;
  padding-bottom: 5px;
}
.city-section-container {
  padding: 0;
}
.rounded-input {
  border-bottom-color: #b3b3b3;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #b3b3b3;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #b3b3b3;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #b3b3b3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
}

.probootstrap-media {
  height: 170px;

  .media-body {
    overflow: hidden;
    padding: 24px;
  }

  .probootstrap-media-image {

    img {
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
}

.rounded-input {
  padding: 5px 15px;
  width: 250px;
}